
<config>
    <modules>
        <Osmage_Mycms>
            <version>0.1.1</version>
        </Osmage_Mycms>
    </modules>
    <global>
        <models>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Osmage_Mycms_Model_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
            </cms>
        </models>
    </global>
</config>
